<div class="view intro hm-white-light parallax">
  <div class="full-bg-img">
    <div class="container">
      <div class="d-flex align-items-center d-flex justify-content-center" style="height: 50vh">
        <div class="row mt-5">
          <div class="col-md-12 wow fadeIn mb-3">
            <div class="intro-info-content text-center">
              <h1 class="wow fadeInDown white-text" data-wow-delay="0.3s">Roofing</h1>
              <a class="btn btn-primary waves-light indigo wow fadeInDown" data-wow-delay="0.3s" mdbRippleRadius mdbPageScroll href="#gallery"
                [pageScrollSpeed]="4000">
                <i class="fa fa-images mr-1"></i> Gallery</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container service-description">
  <p class="grey-text">We offer and support a wide range of all types of roofing from commercial to residential. We faithfully dedicate workmanship,
    creativity, and expertise in which makes higher essence of service that particularly separates us from other building
    companies.
  </p>
  <p class="grey-text">All work is confirmed by an all - inclusive warranty. We are also licensed and insured and have a remembrance of favorably
    completing projects with high quality and on budget.</p>
</div>
<div class="container">
  <h1 class="red-text font-weight-bold" id="gallery">Gallery</h1>
  <div class="row">
    <mdb-image-modal #lightbox [modalImages]='images' type='no-margin'></mdb-image-modal>
  </div>
</div>