#fb-logo {
  margin-right: 1em;
}

#telephone-number,
#email {
  display: block;
}

#whatsapp-logo {
  margin: 1.2em 1.2em 0 0;
}

#email {
  margin-bottom: 1.5em;
}

.margin-bottom {
  margin-bottom: 0.8em;
}

.logo {
  width: 4em;
  filter: grayscale(100%);
}
.copyright {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.social-networks,
.copyright-text {
  text-align: center;
}

a {
  vertical-align: bottom;
}

i {
  vertical-align: text-bottom;
}

@media only screen and (max-width: 992px) {
  #email {
    margin-top: 1.5em;
  }
}

@media only screen and (max-width: 600px) {
  .copyright-text {
    text-align: left;
  }

  .social-networks {
    text-align: right;
  }
}
