#fb-logo {
  margin-right: 1em;
}

#telephone-number,
#email, #fax {
  display: block;
}

a {
  margin-bottom: 1.2em;
} 

.fa-whatsapp, .fa-fax, .phone, .mail, .place  {
  font-size: 24px;
  margin-right: 0.8em; 
}

.margin-bottom {
  margin-bottom: 0.8em;
}

.logo {
  width: 4em;
  filter: grayscale(100%);
}
.copyright {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.social-networks,
.copyright-text {
  text-align: center;
}

a, i {
  vertical-align: bottom;
}

@media only screen and (max-width: 992px) {
  #email {
    margin-top: 1.5em;
  }
}