<!--Footer-->
<footer class="page-footer elegant-color mt-0 mt-md-5">
  <!--Footer Links-->
  <div class="container" id="contact-us">
    <div class="row margin-bottom">
      <div class="col-sm-7 order-1"> <!-- Contact Us Container-->
        <h3 class="margin-bottom">{{'footer-component.contact-us-heading' | translate}}</h3>
        <div class="row">
          <!--First column-->
          <div class="col-lg-6 col-sm-12">
            <a class="grey-text text-lighten-4" href="tel:305-826-5106" id="telephone-number">
              <i class="material-icons phone">phone</i>305-826-5106</a>
            <a class="grey-text text-lighten-4" href="tel:305-826-9210" id="fax">
              <i class="fas fa-fax"></i>305-826-9210</a>
            <a class="grey-text text-lighten-4" href="tel:305-975-7429" id="whatsapp">
              <i class="fab fa-whatsapp"></i>305-975-7429</a>
          </div> 
          <!--/.First column-->
          <!--Second column-->
          <div class="col-lg-6 col-sm-12">
            <a class="grey-text text-lighten-4" href="mailto:amerikanbuilders@gmail.com" id="email">
              <i class="material-icons mail" >email</i>info@amerikanbuilders.com</a>
            <a class="grey-text text-lighten-4" target="_blank" href=" http://maps.google.com/?q=18530-NW-84th-Ave-Miami-FL-33015" id="ubication">
              <i class="material-icons place">place</i>18530 NW 84 AVE. Miami, FL 33015</a>
          </div>
          <!--/.Second column-->
        </div>
      </div>
      <div class="col-sm-5 order-sm-1" style="text-align:center">
        <h3 class="margin-bottom">Licenses</h3>
        <img src="./../../assets/images/logoT.png" alt="Amerikan Builders Logo" class="logo" style="margin-bottom:0.4em">
        <br>
        <small class="grey-text text-lighten-4">CGC 1516365 / CCC 1329066</small>
      </div>
    </div>
  </div>
  <!--/.Footer Links-->

  <!--Copyright-->
  <div class="container-fluid elegant-color-dark copyright">
    <div class="row justify-content-around">
      <div class="copyright-text col-4 col-lg-4">
        <span class="grey-text text-lighten-4">{{'footer-component.copyright-text' | translate}}</span>
      </div>
      <div class="copyright-text col-4 col-lg-4">
        <a (click)="switchLanguage()">{{'footer-component.switch-language-button' | translate}}</a>
      </div>
      <div class="social-networks col-4 col-lg-4">
        <a href="" id="fb-logo">
          <img src="./../../assets/images/social-networks-logos/facebook-logo.svg" alt="Facebook logo">
        </a>
        <a href="">
          <img src="./../../assets/images/social-networks-logos/instagram-logo.svg" alt="instagram logo">
        </a>
      </div>
    </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->