.parallax {
  background-image: url("./../../assets/images/roof.jpeg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 75vh;
}

.intro {
  min-height: 75vh;
}

.full-bg-img {
  background-color: rgba(0, 0, 0, 0.5);
}
