<div class="container" id="ygrene-info">
  <h1 class="red-text font-weight-bold">{{'ygrene-info-component.first-heading' | translate}}</h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-5 vertical-align ygrene-logo">
        <a target="_blank" href="https://ygrene.com/">
          <img src="./../../assets/images/ygrene-logo.png" alt="ygrene-logo" class="img-fluid wow fadeInLeft">
        </a>
      </div>
      <div class="col-lg-6 col-md-7 embed-responsive embed-responsive-16by9 wow fadeInRight">
        <iframe src="https://player.vimeo.com/video/184027168" width="640" height="360" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen *ngIf="currentLangService.currentLang === 'en'; else spanishVideo">Ygrene Video</iframe>
        <ng-template #spanishVideo>
          <iframe src="https://player.vimeo.com/video/121044014" width="640" height="360" frameborder="0"
          webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </ng-template>
        </div>
    </div>
  </div>
</div>
