<app-slider></app-slider>
<div id="welcome">
  <div class="container">
    <h1 id="welcome1" class="red-text font-weight-bold">{{'welcome-component.welcome-heading' | translate}}</h1>
    <p>{{'welcome-component.first-paragraph' | translate}}</p>
    <p>{{'welcome-component.second-paragraph' | translate}}</p>
    <p>{{'welcome-component.third-paragraph' | translate}}</p>
    <h2 class="red-text font-weight-bold">{{'welcome-component.characteristics-heading' | translate }}</h2>
    <div class="row wow zoomIn" style="text-align:center">
      <div class="col-4 col-md-4">
        <i class="material-icons">build</i>
        <h3 class="h3-responsive">{{'welcome-component.professional-paragraph' | translate }}</h3>
      </div>
      <div class="col-4 col-md-4">
        <i class="material-icons">access_time</i>
        <h3 class="h3-responsive">{{'welcome-component.punctual-paragraph' | translate }}</h3>
      </div>
      <div class="col-4 col-md-4">
        <i class="material-icons">track_changes</i>
        <h3 class="h3-responsive">{{'welcome-component.precise-paragraph' | translate }}</h3>
      </div>
    </div>
  </div>
</div>
