<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'slide'">
    <!--First slide-->
    <mdb-slide>
      <div class="view">
        <img class="d-block w-100" src="./../../assets/images/roof-background.jpeg" alt="First slide">
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption animated fadeInDown">
        <h3>{{'carousel-component.first-heading' | translate}}</h3>
        <p>{{'carousel-component.first-paragraph' | translate}}</p>
      </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
      <div class="view">
        <img class="d-block w-100 asdddd" src="./../../assets/images/creditCard.jpg" alt="First slide">
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption animated fadeInDown">
        <h3>{{'carousel-component.second-heading' | translate}}</h3>
        <p>{{'carousel-component.second-paragraph' | translate}}</p>
      </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
      <div class="view">
        <img class="d-block w-100" src="./../../assets/images/shingle-background.jpg" alt="First slide">
        <div class="mask waves-light" mdbRippleRadius></div>
      </div>
      <div class="carousel-caption child-vertical-align animated fadeInDown">
        <h3>{{'carousel-component.third-heading' | translate}}</h3>
        <p>{{'carousel-component.third-paragraph' | translate}}</p>
      </div>
    </mdb-slide>
    <!--/Third slide-->
  </mdb-carousel>
  <!--/.Carousel Wrapper-->
  