$sm: "(max-width: 767px)";
$md: "(min-width: 768px) and (max-width: 1023px)";
$lg: "(min-width: 1024px)";

p {
  font-size: 22px;
}


h1 {
  font-size: 45px;
}

@media #{$sm} {
  p {
    font-size: 16px;
  }
  h1 {
    font-size: 30px;
  }
}

@media #{$md} {
  p {
    font-size: 18px;
  }
  h1 {
    font-size: 35px;
  }
}
